*~
\#*
.sconsign.dblite
bin/artProductSizes
bin/eventCount
bin/valCompare
bin/dbTool
bin/deps
lib
tmp
gen
*.stn
*.hist
*.o
*.so
*.os
*.root
*.art
*.log
*.log.*
*.pdf
*.pyc
*.orig
*.swp
*.nfs*
BaBar/include
EMFCAnalysis
.tup
.buildopts
tags
